pre.highlighter-rouge div.highlighter-rouge { 
	/* top logo colour is hsl(192,100%,31%) */
	background-color: rgb(192,20%,60%);
	padding: 0.5em;
	margin: 0.5em;
}

pre.highlight {
	margin: 0;
}

code.highlighter-rouge {
	margin: 0 0.1em;
	background-color: hsl(192,50%,80%);
}


